/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/


// Colors

$lime: #aacf38;
$charcoal: #323031;
$charcoal-bg: $charcoal url(../images/bg_dark.jpg) no-repeat fixed;

// Fonts
$roboto: 'Roboto Condensed';



// Animations
$smooth: all .2s ease-in;