// A global component to manage al the page heros. 

.hero {
	min-height: 400px;
	padding: 100px 50px;
	
	h1 {font-size: 4em;}
}


@include max-screen($medium) {
	.hero {
	min-height: 250px;
	padding: 50px 20px;
	
	h1 {font-size: 2em;}
	}

}