.panel {
	display: block;
	min-height: 100%;
	min-height: 100vh;
	padding: 15% 8%;
	background-size: cover;
}


.panel--dark {
	background: $charcoal url(../images/bg_dark.jpg) no-repeat;
	background-size: cover;
}

.panel--lime {
	background: $lime  url(../images/bg_lime.jpg) no-repeat;
	background-size: cover;
}

.shortpanel {
	display: block;
	height: auto;
	padding: 20% 10%;
	background: #fff;
}


img.glitch {
	margin: 0 auto 50px;
	display: block;
	width: 300px;
	text-align: center;
}




@media screen and (max-width: $small-breakpoint) {
	
	.panel {
		height: auto;
	}
	
	.panel.intro {
		margin-top: 100vh;	
	}
	
	.mobile--dark {
		background: #222 url(../images/bg_dark.jpg) no-repeat;
		background-size: cover;
	}
}





// Introduction Panel

.intro p {
	color: #fff;
	font-size: 20px;
}



// Tickets Panel
.tickets .text_earlybird {
	margin-bottom: 15px;
}

.pricing-table .row {
	margin: 0 0 5px;
	padding: 0;}
	
.pricing-table p {
	font-size: 0.95em;
	margin: 0 0 3px;
	}