header {
	background: $charcoal-bg;
	
	.header--branding h1 {
		display: block;
		margin: 15px;
		padding: 0;
		width: 90%;
		height: 120px;
		text-indent: -9000px;
		background: url('../images/logo_white.svg') no-repeat center;
		background-size: contain;
		
		a {
			height: 100%;
			display: block;
			}
		}
		
	.header--buynow {
		float: right;
		border-color: #fff;
		color: #fff;
	}
	
	#interior-menu {
		text-align: right;
		clear: right;
	
	
		ul {
			text-align: right;
			
			li:last-child a {
				margin-right: 0;
				padding-right: 0px;
			}
		}
	}
}

body.home header {
	background: transparent;
}

@include min-screen($large) {
	.md-hide-up {display: none;}
}


@include max-screen($large) {
	.md-hide-up {display: block !important;}
	
	.conf-date {
			padding: 20px;
			
			p {
				color: #fff;
				font-size: 22px;
				font-weight: bold;
				margin: 0px;
			}
		}
		
	body.home header a#nifty-nav-toggle {
		top: 0px !important;
	}
	
	body.home header .nifty-panel{
		left: 0;
		width: 100%;
		top: 70px;
	}
		
		
}
