header {
	background: $charcoal-bg;
	
	.header--branding h1 {
		display: block;
		margin: 15px;
		padding: 0;
		width: 90%;
		height: 120px;
		text-indent: -9000px;
		background: url('../images/logo_white.svg') no-repeat center;
		background-size: contain;
		
		a {
			height: 100%;
			display: block;
			}
		}
		
	.header--buynow {
		float: right;
		border-color: #fff;
		color: #fff;
	}
	
	
	.menu-primary-menu-container ul {
					
			li {position: relative}
			
			li.menu-item-has-children {
				padding-right: 10px;
			}
			
			li.menu-item-has-children:after {
				position: absolute;
				color: #fff;
				top: 10px;
				right: 0px;
				font-family: FontAwesome;
				content:"\f0d7";
			}

			
			li ul {display: none;}
			
			
			li:hover ul{
				display: block;
				width: 180px;
				position: absolute;
				top: 0px;
				padding-top: 40px;
				left: 0px;
				z-index: 22;
				
				li {
					display: block;
					width: 100%;
					background: $charcoal;
					
					&:first-child {
						border-top: 1px solid $lime;
					}
					
					&:hover {
						background: #000;
					}
					
					a {
						display: block;
						color: #fff;
						font-size: 12px;
						padding: 15px 20px;
						
						&:hover {color: #fff;}
					}
				}
				
			}
		}

	
	#interior-menu {
		text-align: right;
		clear: right;
	
	
		ul {
			text-align: right;
			
			li:last-child a {
				margin-right: 0;
				padding-right: 5px;
			}
			
		}
	}
}

body.home header {
	background: transparent;
}

@include min-screen($large) {
	.md-hide-up {display: none;}
}


@include max-screen($large) {
	.md-hide-up {display: block !important;}
	
	.conf-date {
			padding: 20px;
			
			p {
				color: #fff;
				font-size: 22px;
				font-weight: bold;
				margin: 0px;
			}
		}
		
	body.home header a#nifty-nav-toggle {
		top: 0px !important;
	}
	
	body.home header .nifty-panel{
		left: 0;
		width: 100%;
		top: 70px;
	}
		
		
}



// Mobile nav panel
.nifty-panel .menu-primary-menu-container ul {
					
			li {position: relative}
			
			li.menu-item-has-children {
				padding-right: 0;
			}
			
			li.menu-item-has-children:after {
				top: 0px;
				content:"";
			}

			
			li ul {display: block;}
			
			
			li ul li {
					display: block;
					width: 100%;
					background: $charcoal;
					
					&:first-child {
						border-top: 1px solid $lime;
					}
					
					
					a {
						display: block;
						color: #fff;
						font-size: 12px;
						padding: 15px 20px;
						
						&:hover {color: #fff;}
					}
				
				}
		}
