/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

// Links
a,
a:visited {
  text-decoration : none;
}



.text-lime {
	color: $lime;
}




h2 {
	font-size: 3em;
	text-transform: uppercase;
}